<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admincoursesdetails.css">
  <title>instructors</title>
</head>

<body>
  <div id="mid" class="color">
    <img id="image" src="https://qalam.nust.edu.pk/odoocms_assets/static/img/logo.svg">
    <h3 id="title" class="Title">National University of Sciences & Technology</h3>
    <!-- <form action="/adminstudentsdetails" method="post"> -->
    <!-- <input name="semester" type="text" style="display: none;" value="<%= result[0].semester %>"> -->
    <!-- <input name="sub1" type="text" style="display: none;" value="<%= result[0].dis_id %>"> -->
    <button id="backbtn" onclick="history.back()">Back >> </button>
    <!-- </form> -->
  </div>
  <div id="tablecontainer">
    <div id="table" class="ex3">
      <table>
        <tr>
          <p>COURSE AND INSTRUCTOR DETAILS : </p>
          <th><b>Course ID</b></th>
          <th><b>Course Name </b></th>
          <th><b>Instructor's Name</b></th>
          <th><b>Drop coruse</b></th>
        </tr>

        <% for (var i=0; (i < result.length) && result[0].courseid; i++ ) { %>

          <tr>
            <td>
              <%= result[i].courseid %>
            </td>
            <td>
              <%= result[i].coursename %>
            </td>
            <td>
              <%= result[i].instructor %>
            </td>
            <td>
              <form action="/admindropcourse" method="post">
                <input style="display: none;" type="text" , value="<%= result[i].cmsid %>" name="cmsid">
                <input style="display: none;" type="text" , value="<%= result[i].courseid %>" name="courseid">
                <button class="course">drop</button>
              </form>
            </td>

          </tr>

          <% } %>

      </table>
    </div>
  </div>
</body>

</html>